@font-face {
  font-family: 'Alte Haas Grotesk';
  font-style: normal;
  font-weight: normal;
  src: local('Alte Haas Grotesk'), url('AlteHaasGroteskRegular.woff') format('woff');
}

@font-face {
  font-family: 'Alte Haas Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Alte Haas Grotesk Bold'), url('AlteHaasGroteskBold.woff') format('woff');
}
html, body{
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}

/*  */


:root {
  --text-color: rgb(255, 255, 255);
  --shadow-color: #dc3545;
  --btn-color: hsl(0, 0%, 0%);
  --bg-color: #141218;
  --white-color: #fff;
}

.adjimg{
  float: right;
  margin: -7% -1% 0 0;
}
.adjimgs{
  transform: rotate(
180deg);
  float: left;
}
.mintbtn {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  border-radius: 20px; 
  z-index: 0;  
  overflow: hidden;   
}

.mintbtn:hover {
  outline-color: transparent;
  box-shadow: var(--shadow-color) 0px 4px 10px;
}

/*  */



.nav-link{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.navbar-nav li:last-child{
  margin-right: 10px;
}
p {
  color: #b3b3b3;
  font-weight: 300;
}
.bg-nav{
background: #fff056 !important;
}
.seicon{
height: 30px;
width: 30px;
margin: 0px 5px;
}
.main_icon_class{
  background-color: #b3cdd1;
background-image: linear-gradient(315deg, #ffffff 0%, #d0d1dd 74%, #fff );
padding: 10px;

}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

.headsmain {
  font-weight: 800;
  font-size: 70px;
  margin-bottom: 30px;
  color: white;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}
.logo_s{
  width: 190px;
  height: 55px;
}
.heroone {
  height: fit-content;
  background: #fff056;
  /* padding: 8% 5%; */
}

 .bgimgsectwo {
  background: url('images/sectiontwoimg_1.png')bottom center no-repeat !important;
  background-size: contain !important;
}

.herothree {
  background: #e3ebf4;
    padding-bottom: 0px !important;
    height: fit-content;
    padding: 5%;
}
.herothree img{
  width: 100%;
}

.bgimgsecthree {
    background: url('images/sectionthreeimg.png')bottom center no-repeat !important;
    background-size: contain;
  transform: rotate(180deg);
}
.herolastone{
background: url('images/74.png')bottom center no-repeat !important;
background-size: contain !important;
padding: 22%; 
}
.manhat {
  padding: 3% 3%;
}
.heroparity img{
  width: 100%;
}
.main_rpmap{
width: 65%;
    margin: 0 auto;}
.circle{
   background-image: url('images/circle_small.png') !important; 
}
.herofour {
  height: fit-content;
  background: #6a5c93;
  padding: 5% 0% 5% 0%;
}

.herofive {
  height: fit-content;
  background: #469ca8;
  padding: 5%;
}
.heroparity{
  background-color: #110a39 !important;
  padding-bottom: 0px !important;
  height: fit-content;
    padding: 5%;
}
.herolast {
  background: #000000;
  padding: 5%;
}
.setpading{
  padding-top: 8%;
}
.cb {
  color: black !important;
}

.cbw {
  margin-left: 19px;
  filter: invert(100%) sepia(0%);
  width: 50px;
}
.main-block {
  /* background: #336487; */
  padding: 2% 5%;
  width: fit-content;
  margin: 0 auto;
}

.mbd-0 {
  margin-bottom: 0px !important;
}
.mbm{
margin: 0px !important;
}
.mtt {
  margin-top: 3% !important;
}

.rotate {
  transform: rotate(90deg);
  float: left;
}

.rotater {
  transform: rotate(270deg);
  float: right;
}
.bgimgsecfour img{
height: 400px;
}
.bgimgsecfour h1{
  font-size: 50px !important;
}

.bgimgsecfour {
  /* background-image: url('images/sectionfourimg.png');
background-size: contain;
background-repeat: no-repeat;
transform: rotate(180deg); */
}
.set-colend{
  padding: 0 4% 0 4%;
}
.fillcir {
  background: #991e24;
  color: #fff;
  border-radius: 100%;
  padding: 30px 0px 15px 19px;
  border: solid 2px white;
}

.block_container {
  text-align: left !important;
  margin: 50px !important;
}
.manh_p{
margin: 0 auto;
}
#bloc1,
#bloc2 {
  display: inline-block;
}

.colorred {
  color: #991e24 !important;
}

.headset {
  margin-top: 10%;
}
.headsets{
  padding-top: 5%;
  padding-bottom: 3%;
}
.paraset {
  margin-bottom: 10%;
  margin-right: 5%;
}
.adjust_para .para{
  color: black;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 2%;
}
.para {
  font-size: 25px;
  color: white;
  font-weight: 400;
  line-height: 36px;
}

.herotwo {
  height: fit-content;
  background: #e96a63;
}
.herothree .headsmain {
font-size: 63px;
}
.sec-ad{
  margin-top: -9% !important;
}
.texthero .headsmain, .herosix .headsmain   {
font-size: 47px;
}
.manhat .headsmain{
  font-size: 26px;
  padding-top: 3%;
}
#footer_block{
    display: block !important;
  }
  .left-set{
text-align: left; 
margin: auto; 
width: 70%;
  }
  .right-set{
    text-align: right; 
  }
@media screen and (max-width: 992px) {
  .heroparity img{
    height: 300px;
    width: 100%;
      }
  .adjimg {
    margin: 0 -11% 0 2%;
  }
  .adjimgs {
    margin: 0 -11% 0 2%;
    float:none
  }
  .rotate{
    float:none;
  }
  .left-set{
    text-align: left; 
margin: auto; 
width: 80%;
  }
  .imgset img {
      width: 100%;
      height: 100%;
  }
  .bgimgsectwo{
      padding: 30%;
  }
  .bgimgsecthree{
      padding: 50%;
      transform: none;
  }
  
  .bgimgsecfour img{
    height: 250px;
  }
 
  .rotater {
  }
  .bgimgsecfour h1{
    font-size: 26px !important;
  }
  .headsmain {
      font-size: 35px !important;
      margin: 10px;
      text-align: center;
  }
  .mbcol{
margin-bottom: 10%;
  }
  .mtcol{
    margin-top: 10%;
      }
  .para {
      font-size: 18px;
      line-height: 25px;
      margin: 10px 50px;
  }
  .herolast .para{
    padding-top: 1% !important;
  }
  #footer_block{
    padding-top:3%;
  }
  br{
    display: none;
  }
  .col-fil {
      padding-left: 0px !important;
  }
  .block_container {
      margin: 25px !important;
      text-align: center !important;
  }
  .fillcir {
      margin: 0 auto;
      width: fit-content;
  }
  #bloc1,
  #bloc2P {
      display: table;
  }
  .h_font {
      margin-top: 20px;
  }
  .cbw{
margin: 5px;

  }
  .main-block{
    padding: 5%;
  }
}
#backgroundVideo {
  width: 100%;
}

@media (max-width: 767px) {
    #backgroundVideo {
         /* background: url("../Videos/video.mp4") repeat; */
        width: 100%;
    }
    .bg_play h1{
display: grid;
    }
    .setpading{
      padding-top: 2%;
    }
    .main_rpmap{
      width: 100%;
    }
    .adjust_para .para{
      font-size: 10px;
      line-height: 15px;
      margin: 0 auto !important;
    padding: 20px;
    }
    .main_rpmap h3{
font-size: 18px;

    }
}
@media (max-width: 575px) {
  .flexxcol{
    display:flex;
    flex-direction: column-reverse;
  }
  .heroparity img{
    height: 195px;
    width: 100%;
      }
  .col_new{
width: 50%;
  }
  .s-dp{
    display:none;
  }
.herosix{
    padding-bottom: 0%;
}
.herolastone{
  padding: 50%;
}
.heroparity{
  text-align: center;
}
.bg-sort img{
width: 170px;
height: 170px;
}
}
/* Timeline CODE START */
.circle {
  padding: 19px 16px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #fff;
  max-height: 70px;
  z-index: 2;
}
.last_circle{
  padding: 21px 14px !important;
  max-height: 80px;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/* Timeline CODE END */